img{
    width: 350px;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 21px;

}

input{
    margin: 5px;
}

.crt{
    width: 50px;
}
a{
    text-decoration: none;

}
.listofitem{
    margin: 20px auto;
    padding: 0px 35vh;
}
